/*Обнуление*/

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: disc; line-height: 1.2;}
img{vertical-align: top;}

/*---------------------------------------*/

h2{
    text-transform: uppercase;
}

.body{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.ul{
    padding-left: 10px;
}

.h4{
    padding-bottom: 10px;
}

.img{
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.container{
    padding: 10px;
}

.header{
    padding: 20px;
    text-align: center;
    background: rgb(126, 179, 48);
}

.content{
    display: flex;
    flex: 1 1 auto;
}


.content_nav{
    background-color: burlywood;
    flex-basis: 300px;
    padding: 20px;
}

.content_article{
    background-color: cadetblue;
    flex-grow: 1;
    padding: 20px;
    padding-right: 50px;
    background: url(../home_work_3_images/shpric.png) right top repeat-y;  
}

.footer{
    text-align: right;
    background: #4d4d4f;
    color: #fff;
    padding: 20px;
}




