/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}



html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


/*------ ЗАГОЛОВКИ------*/

.paragraph-light{
font-family: "Open Sans";
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 100%;
letter-spacing: -0.025em;
color: #7C808A;
}


.paragraph-dark{
	font-family: "Mriya Grotesk";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 120%;
	letter-spacing: -0.025em;
	color: #515151;
}

.h1{
	font-family: "Mriya Grotesk";
	font-style: normal;
	font-weight: 900;
	font-size: 45px;
	line-height: 120%;
	letter-spacing: -0.025em;
	color: #292930;
}







/* -------- КНОПКИ --------- */

.ctr_btn{
    display: flex;
    justify-content: center;
    width: 330px;
    height: 70px;
    left: 245.07px;
    top: 757.7px;
    background: #61B2AA;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 59px;
    padding: 22px;
}

.ctr_btn span{
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* --------------------------------- */


/* ---------- HEADER---------*/
.header-wrapper{
	display: flex;
	justify-content: space-between;
	height: 249px;
	padding-top: 5em;
	width: 1187px;
	margin: 0 auto;
}

.header-logo{

}

.header-nav{
	display: flex;
}

.header-nav-links{
	display: flex;
	padding-top: 20px;

}

.nav-link{
	font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* text-align: right; */
    color: #7C808A;
	margin-right: 5em;
}

.header-btn{
	display: inline-block;
}

.header-btn-btn{
    justify-content: center;
    padding: 13px;
    width: 121px;
    height: 45px;
    background: #61B2AA;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 59px;
}

.header-btn-btn span{
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


/*a.nav-link{
    content: url(../buzz-fit/img/Login\ Icon.png);
    padding-right: 5px;
}*/

/*---------------------------*/


.wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
}

.title{
	font-family: 'Mriya Grotesk';
	font-style: normal;
	font-weight: 900;
	font-size: 75px;
	line-height: 120%;
	padding-bottom: 50px;
	/* or 90px */
	letter-spacing: -0.025em;
}

.paragraph-xtra-large{
	font-family: "Open Sans";
	font-style: normal;	
	font-weight: normal;
	font-size: 26px;
	line-height: 160%;
	color: #7C808A;
	padding-bottom: 72px;
}

/*----- Первый экран -----*/

.block-1{
	display: flex;
    height: 801px;
    justify-content: flex-start;
	width: 1187px;
	margin: 0 auto;
}

.block-1-article{
	display: flex;
    flex-direction: column;
    flex-basis: 49%;
}


.block-1-image{
	display: flex;
    position: absolute;
    padding-left: 580px;
}


/*----- Второй экран ------*/

.block-2{
	height: 950px;
	background-color: #EFF8FA;
}

.block-2-container{
	display: flex;
	flex-direction: column;
	width: 1187px;
	margin: 0 auto;
	padding: 146px 0px 216px 0px;
	background: url(../img/thunder\ -cloud.png) 90% 5% no-repeat;
}

.block-2-text{
	display: flex;
	padding: 8em 0;
}

.block-2-text-article{
	display: flex;
	flex-direction: column;
	padding-right: 5em;
}

.block-2-text-list{
	display: flex;
    flex-direction: column;
    flex-basis: 120%;
    justify-content: space-between;
	
}

p.paragraph-dark{
	padding-bottom: 3rem;
}

.block-2-text-list-element{
	font-family: "Mriya Grotesk";
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 120%;
	letter-spacing: -0.025em;
	color: #515151;
	border-bottom: 4.16847px solid #79D8FF;
	
}





/*---------ТРЕТИЙ ЭКРАН--------*/
.block-3{
	display: flex;
	height: 803px;
}

.block-3-container{
	display: flex;
	flex-direction: column;
	width: 1187px;
	margin: 0 auto;
	padding: 146px 0px 216px 0px;
	background: url(../img/sun.png) 90% 5% no-repeat;
}

.block-3-text-article{
	display: flex;
	margin-top: 10em;

}




/*---------FOOTER----------*/
.footer-container{
	display: flex;
    flex-direction: column;
    justify-content: center;
	height: 476px;
	background: linear-gradient(180deg, rgba(81, 77, 128, 0) 0%, #514D80 151.63%);
	opacity: 0.07;
	transform: matrix(1, 0, 0, -1, 0, 0);
}

.footer-menu{
	display: grid;
	width: 1187px;
	margin: 0 auto;
	grid-template-columns: repeat(5, 20%); grid-template-rows: repeat(5, 50px);
}
/*-------------------------*/