/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}



html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


.margin-center{
	margin: 0 auto;
}


/*------ ЗАГОЛОВКИ------*/

.paragraph-light{
	display: inline-block;
font-family: "Open Sans";
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 100%;
letter-spacing: -0.025em;
color: #7C808A;
}

.paragraph{
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 175%;
	color: #515151;
}

.paragraph-bold{
	font-family: "Open Sans";
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 175%;
	color: #000000;
}


.paragraph-dark{
	font-family: "Mriya Grotesk";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 120%;
	letter-spacing: -0.025em;
	color: #515151;
}


.paragraph-large{
font-family: "Open Sans";
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 175%;
text-align: center;
color: #515151;
}

.h1{
	font-family: "Mriya Grotesk";
	font-style: normal;
	font-weight: 900;
	font-size: 45px;
	line-height: 120%;
	letter-spacing: -0.025em;
	color: #292930;
}

.heading-subtitle-small{
font-family: "Mriya Grotesk";
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
letter-spacing: 0.25em;
text-transform: uppercase;
color: #292930;
}



/* -------- КНОПКИ --------- */

.ctr_btn{
    display: flex;
    justify-content: center;
    width: 330px;
    height: 70px;
    background: #61B2AA;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 59px;
    padding: 22px;
}

.ctr_btn span{
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.ctr-btn-yellow{
	display: flex;
	justify-content: center;
	background: #FFC565;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	border-radius: 59px;
	width: 330px;
	height: 70px;
	margin-top: 7em;
}

.ctr-btn-yellow span{
display: flex;
align-items: center;
font-family: "Mriya Grotesk";
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
text-transform: uppercase;
}

.ctr-btn-blue{
	display: flex;
	justify-content: center;
	background: #5288DF;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	border-radius: 59px;
	width: 330px;
	height: 70px;
	margin-top: 2em;
}

.ctr-btn-blue span{
display: flex;
align-items: center;
font-family: "Mriya Grotesk";
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.ctr-btn-pink{
	display: flex;
	justify-content: center;
	background: #FFB3B4;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	border-radius: 59px;
	width: 330px;
	height: 70px;
	margin-top: 7em;
}

.ctr-btn-pink span{
	display: flex;
	align-items: center;
	font-family: "Mriya Grotesk";
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
	}

.ctr-btn-violet	{
	display: flex;
	justify-content: center;
	background: #978FDC;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	border-radius: 59px;
	width: 330px;
	height: 70px;
	/*margin-top: 7em;*/
}

.ctr-btn-violet span{
	display: flex;
	align-items: center;
	font-family: "Mriya Grotesk";
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
	}

	.button-container{
		display: flex;

		margin-top: 7em;
	}

	.btn-url{
		display: flex;
		align-items: center;
    	margin-left: 80px;
    	margin: 25px 0 0 60px;
	}

	.btn-url::before{
		content: url(../img/Subtract.png);
    	padding-right: 5px;
	}

/* --------------------------------- */


/* ---------- HEADER---------*/
.header-wrapper{
	display: flex;
	justify-content: space-between;
	height: 249px;
	padding-top: 5em;
	width: 1187px;
	margin: 0 auto;
}

.header-logo{

}

.header-nav{
	display: flex;
}

.header-nav-links{
	display: flex;
	padding-top: 20px;

}

.nav-link{
	font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* text-align: right; */
    color: #7C808A;
	margin-right: 5em;
}

.nav-link-last{
	font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* text-align: right; */
    color: #7C808A;
	margin-right: 5em;
}

.nav-link-last::before{
		content: url(../img/Login\ Icon.png);
		padding-right: 5px;
}

.header-btn{
	display: inline-block;
}

.header-btn-btn{
    justify-content: center;
    padding: 13px;
    width: 121px;
    height: 45px;
    background: #61B2AA;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 59px;
}

.header-btn-btn span{
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


/*a.nav-link{
    content: url(../buzz-fit/img/Login\ Icon.png);
    padding-right: 5px;
}*/

/*---------------------------*/


.wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
}

.title{
	font-family: 'Mriya Grotesk';
	font-style: normal;
	font-weight: 900;
	font-size: 75px;
	line-height: 120%;
	/*padding-bottom: 50px;*/
	/* or 90px */
	letter-spacing: -0.025em;
}

.paragraph-xtra-large{
	font-family: "Open Sans";
	font-style: normal;	
	font-weight: normal;
	font-size: 26px;
	line-height: 160%;
	color: #7C808A;
	padding-bottom: 72px;
}

/*----- Первый экран -----*/

.block-1{
	display: flex;
    height: 801px;
    justify-content: flex-start;
	width: 1187px;
	margin: 0 auto;
}

.block-1-article{
	display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

div.block-1-article > div.title{
padding-bottom: 50px;
}

div.block-1-article > div.h1{
	padding-bottom: 50px;
	}


.block-1-image{
	display: flex;
    position: absolute;
    padding-left: 580px;
}


/*----- Второй экран ------*/

.block-2{
	height: 950px;
	background-color: #EFF8FA;
}

.block-2-container{
	display: flex;
	flex-direction: column;
	width: 1187px;
	margin: 0 auto;
	padding: 146px 0px 216px 0px;
	background: url(../img/thunder\ -cloud.png) 90% 5% no-repeat;
}

.block-2-text{
	display: flex;
	padding: 8em 0;
}

.block-2-text-article{
	display: flex;
	flex-direction: column;
	padding-right: 5em;
}

.block-2-text-list{
	display: flex;
    flex-direction: column;
    flex-basis: 120%;
    justify-content: space-between;
	
}

p.paragraph-dark{
	padding-bottom: 3rem;
}

.block-2-text-list-element{
	font-family: "Mriya Grotesk";
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 120%;
	letter-spacing: -0.025em;
	color: #515151;
	text-decoration: underline 4.16847px solid #79D8FF;
	
}





/*---------ТРЕТИЙ ЭКРАН--------*/
.block-3{
	display: flex;
	height: 803px;
}

.block-3-container{
	display: flex;
	flex-direction: column;
	width: 1187px;
	margin: 0 auto;
	padding: 146px 0px 0px 0px;
	background: url(../img/sun.png) 90% 5% no-repeat;
}

.block-3-text-article{
	display: flex;
	margin-top: 10em;
}

.block-3-paragraph-dark{
	font-family: "Mriya Grotesk";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 120%;
	letter-spacing: -0.025em;
	color: #515151;
	padding-right: 50px;
}


/*---------ЧЕТВЕРТЫЙ ЭКРАН--------*/
.block-4{
	display: flex;
	height: 803px;
	background-color: #FEF6F6;
}

.block-4-container{
	display: flex;
	width: 1187px;
	margin: 0 auto;
	padding: 160px 0 0 0;
}

.block-4-image{
	position: relative;
    margin-right: 110px;
    margin-left: -40px;
}

.article-margin{
	margin-top: 2em;
}

/*---------ПЯТЫЙ ЭКРАН--------*/
.block-5 {
	display: flex;
	height: 803px;
}

.block-5-container{
	display: flex;
	width: 1187px;
	margin: 0 auto;
	/*padding: 160px 0 0 0;*/
}

.block-5-padding{
padding: 160px 0 0 0;
}

.block-5-article{
	display: flex;
    flex-basis: 40%;
    flex-direction: column;
}

.block-5-image{
	position: relative;
	
}

.image-5{
	position: absolute;
    margin: 0 0 0 190px;
}


/*---------ШЕСТОЙ ЭКРАН--------*/

.block-6{
	display: flex;
	height: 803px;
	background-color: #F4F3FA;
}

.block-6-container{
	display: flex;
	width: 1187px;
	margin: 0 auto;
	padding: 160px 0 0 0;
}

.block-6-image{
	position: relative;
    margin-right: 110px;
    margin-left: -40px;
}

/*---------СЕДЬМОЙ ЭКРАН--------*/
.block-7{
	display: flex;
	height: 830px;
	background: url(../img/wire-left.png) 0% 50% no-repeat, url(../img/wire-right.png) 100% 150% no-repeat;
}

.block-7-container{
	display: flex;
	width: 1187px;
	margin: 0 auto;
	padding: 160px 0 0 0;
}

.block-7-article {
	display: flex;
    flex-basis: 50%;
    flex-direction: column;
	margin: 3em 0 0 10em;
}



/*------ ВОСЬМОЙ ЭКРАН---------*/

.block-8{
	display: flex;
	height: 830px;
	background: url(../img/block-8-bg.png);
	
}

.block-8-container{
	display: flex;
	width: 1250px;
	margin: 0 auto;
	padding: 160px 0 0 0;
}

.block-8-article{
	display: flex;
    flex-basis: 60%;
    flex-direction: column;
	padding-right: 10em;
}

.article-margin-bottom{
	margin-bottom: 3em;
}

.block-8-slider{
	width: 700px;
	margin: -5% 0 0 0;
	text-align: center;

}

.block-8-img{
    margin: -10% 50%;
}


.block-8-slider-img{
	margin: auto;
}


/*-------ДЕЯТЫЙ ЭКРАН-------*/
.block-9{
	display: flex;
    height: 1100px;
    flex-direction: column;
}

.block-9-bg{
	box-shadow: 0px 1px 15px 6px rgb(129 128 128 / 6%);
	border-radius: 40px;
	margin: -50px 0 0 0;
}

.block-9-container{
	display: flex;
    width: 1187px;
    margin: 0 auto;
    padding: 160px 0 100px 0;
}

.block-9-div-text{
	text-align: center;
    padding: 0px 70px;
}

.block-9-div-img{
	text-align: center;
	margin-bottom: 2em;
}

.margin-ctr-9{
	margin: 50px auto;
}

/*----ДЕCЯТЫЙ БЛОК-------*/

.bg-blue-fade{
	background-color: #F2F7FF;
}

.block-container-10{
	display: flex;
	flex-direction: column;
	width: 1450px;
	margin: 0 auto;
	justify-content: center;
}

.block-10-heading{
	text-align: center;
    padding: 70px 0 0;
}

div.block-10-heading > div{
	padding: 20px 0 0 0;
}

.block-10-slider{
	margin: 100px 0 0 0;
    text-align: center;
}

div.block-10-slider > div{
	padding: 0px 35px;
}

.block-10-slider-item{
	border-radius: 40px;
	border: solid red;
	width: 100px;
	height: 50px;
}

.prev, 
.next{
	position: absolute;
	top: 30%;
	height: 60px;
	width: 60px;
	z-index: 1;
	cursor: pointer;
}


/*----------CONTENT PAGE---------*/
.double-bg{
display: inline-block;
height: 900px;
margin: 0 auto;

}

.double-bg-1{
float: left;
width: 50%;
height: 100%;
background-color: #F4F3FA;
background: url(../img/couch\ left.png) no-repeat bottom left;
}


.double-bg-2{
	float: right;
	width: 50%;
	height: 100%;
	background-color: #FFF8F8;
	background: url(../img/couch.png) no-repeat bottom right;
}


.double-bg-article{
	margin: 15% 15% 0 10%;
	width: auto;
}

.double-bg-1-img{
	float: left;
	margin: 8em 2em;
	height: 100%;
}

div.double-bg-2 > div.double-bg-1-img{
	float: right;
}


div.double-bg-article > div.h1{
	padding: 1em 0;
}



/*---------FOOTER----------*/
.footer-container{
	display: flex;
    justify-content: center;
	height: 476px;
	background: linear-gradient(1deg, rgba(81, 77, 128, 0) 0%, #6d628e14 151.63%);
	-webkit-gradient: linear-gradient(1deg, rgba(81, 77, 128, 0) 0%, #6d628e14 151.63%);
}

.footer-menu{
	top: 50%;
	display: grid;
	width: 1187px;
	margin: 0 auto;
	grid-template-columns: repeat(5, 20%); grid-template-rows: repeat(5, 50px);
}
/*-------------------------*/