
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}



html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/



h1{
    font-family: 'Mriya Grotesk';
font-style: normal;
font-weight: 900;
font-size: 45px;
line-height: 120%;
/* identical to box height, or 54px */

letter-spacing: -0.025em;
}

h2{
    font-family: 'Mriya Grotesk';
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 120%;
/* or 43px */

letter-spacing: -0.025em;
}

h3{
    font-family: 'Mriya Grotesk';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 120%;
/* or 43px */

letter-spacing: -0.025em;
text-transform: uppercase;
}

h4{
    font-family: 'Mriya Grotesk';
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 140%;
/* or 36px */

letter-spacing: -0.025em;
text-transform: uppercase;
}

h5{
    font-family: 'Mriya Grotesk';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */

letter-spacing: -0.025em;
}

.title{
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 900;
    font-size: 75px;
    line-height: 120%;
    padding-bottom: 50px;
    /* or 90px */

    letter-spacing: -0.025em;
}



.btn_cta{
    font-family: 'Mriya Grotesk';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: -0.025em;
    text-align: left;
}

.link_cta{
    font-family: 'Mriya Grotesk';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: -0.025em;
    text-align: left;
}

.bold_text{
    font-family: 'Open Sans';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: -0.025em;
    text-align: left;
}

.body_text{
    font-family: 'Open Sans';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: -0.025em;
    text-align: left;

}

.wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
}

header{
    display: flex;
    height: 250px;
    width: auto;
}

.header-container{
    max-width: 1170px;
    height: 250px;
    margin: 0 auto;
}

.wrapper_header{
    text-align: right;
    position: absolute;
    width: 1170px;
    height: 46.58px;
    left: 245.24px;
    top: 62px;
}

.header_logo{
    position: absolute;
    width: 206.84px;
    height: 46.58px;
    top: 0.35%;
    bottom: 99.38%;
}

.header_btn{
    display: flex;
    justify-content: center;
    padding: 12px;
    width: 121px;
    height: 45px;
    background: #61B2AA;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 59px;
}

.header_btn span{
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header_menu{
    display: flex;
}

.header-links
{position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}

.header_menu_link{
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #7C808A;
}


.header_menu_login{
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #7C808A;
}
.header_menu_login::before{
    content: url(../buzz-fit/img/Login\ Icon.png);
}
/* header end*/

/* main start */


.main{
    display: flex;

}

.xtra-lrg{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 160%;
    padding-bottom: 72px;
    /* or 42px */


    /* Paragraph - Light */

    color: #7C808A;
}

.first-screen{
    display: flex;

    flex-basis: 1392px; height: 801px;
    margin: 0 auto;
}

.first-screen-text{
    display: flex;
    flex-direction: column;
    flex-basis: 765px;
    
}

.ctr_btn{
    display: flex;
    justify-content: center;
    width: 330px;
    height: 70px;
    left: 245.07px;
    top: 757.7px;
    background: #61B2AA;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 59px;
    padding: 22px;
}

.ctr_btn span{
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    /* Color/White */

    color: #FFFFFF;
}

.first-screen-image{
    position: absolute;
    right: 0px;
}