
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}



html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

h1{
    font-family: 'Mriya Grotesk';
font-style: normal;
font-weight: 900;
font-size: 45px;
line-height: 120%;
/* identical to box height, or 54px */

letter-spacing: -0.025em;
}

h2{
    font-family: 'Mriya Grotesk';
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 120%;
/* or 43px */

letter-spacing: -0.025em;
}

h3{
    font-family: 'Mriya Grotesk';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 120%;
/* or 43px */

letter-spacing: -0.025em;
text-transform: uppercase;
}

h4{
    font-family: Mriya Grotesk;
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 140%;
/* or 36px */

letter-spacing: -0.025em;
text-transform: uppercase;
}

h5{
    font-family: Mriya Grotesk;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */

letter-spacing: -0.025em;
}

.btn_cta{
    font-family: Mriya Grotesk;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: -0.025em;
    text-align: left;
}

.link_cta{
    font-family: Mriya Grotesk;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: -0.025em;
    text-align: left;
}

.bold_text{
    font-family: Open Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: -0.025em;
    text-align: left;
}

.body_text{
    font-family: Open Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: -0.025em;
    text-align: left;

}